.footer
  .socialbtns(align="center")
    ul
      li
        a.fa.fa-lg.fa-facebook(href="#")
      li
        a.fa.fa-lg.fa-twitter(href="#")
      li
        a.fa.fa-lg.fa-youtube(href="#")
      li
        a.fa.fa-lg.fa-instagram(href="https://www.instagram.com/jedhei/")
