.footer
  .socialbtns(align="center")
    ul
      li
        a.fa.fa-lg.fa-facebook(href="https://facebook.com/jedhei")
      li
        a.fa.fa-lg.fa-twitter(href="https://twitter.com/joinjedidiah")
      li
        a.fa.fa-lg.fa-youtube(href="#")
      li
        a.fa.fa-lg.fa-instagram(href="https://www.instagram.com/joinjedidiah/")
