header.clearfix
  .container
    .header-left
      h1 jedidiah
    .header-right
      label(for='open')
        span.hidden-desktop
      input#open(type='checkbox', name='')
      nav
        a(href='/') HOME
        a(href='/media') EXPRESSION
        a(href='/join') JOIN



